<table style="width:100%;font-family:courier;align:left;overflow-x:scroll;">
  <col width="30%">
  <col width="70%">
  <tr align="left">
    <td align="left">Seq-<TMPL_VAR NAME=SEQUENCEStart>-<TMPL_VAR NAME=SEQUENCEend></td>
    <td align="left"><TMPL_VAR NAME=SEQUENCESTR></td> 
  </tr>
  <tr align="left">
    <td align="left">HMMTOP</td>
    <td align="left"><TMPL_VAR NAME=HMMTOPSTR></td>
  </tr>
  <tr align="left">
    <td align="left">TMHMM</td>
    <td align="left"><TMPL_VAR NAME=TMHMMSTR></td>
  </tr>
  <tr align="left">
    <td align="left">Phobius</td>
    <td align="left"><TMPL_VAR NAME=PHOBIUSSTR></td>
  </tr>
  <tr align="left">
    <td align="left">Consensus</td>
    <td align="left"><TMPL_VAR NAME=CONSENSUSSTR></td>
  </tr>
  <tr align="left">
    <td align="left">ConsensusRawScore</td>
    <td align="left"><TMPL_VAR NAME=CONSENSUSSCORE></td>
  </tr>
</table>
<br/>
